body {min-height: 4000px;
   margin: 0; }
   .header{position: fixed;
     left: 0;
top: 0;
width: 100%;
padding: 30px 0;
background-color:pink ;}
h{font-size: 40px;
text-align: center;
}
.cart {position: relative;
display: block;
width: 30px;
height: 30px;
}
.cart img{ width: 50px;
height: auto;
text-align: right;}
#id{text-align: center;}